HARBOR_PROJECT_NAME=harbor
HARBOR_APP_PORT=8443
HARBOR_APP_URL=https://localhost:8443/
HARBOR_DB_HOST=db
HARBOR_DB_NAME=maho
HARBOR_DB_USER=maho
HARBOR_DB_PASSWORD=maho
HARBOR_DB_ROOT_PASSWORD=root
HARBOR_MYSQL_PORT=3306
HARBOR_PHP_VERSION=8.4
HARBOR_DEBIAN_VARIANT=trixie
# Add optional PHP extensions here. Core Maho extensions and Xdebug are built in.
HARBOR_PHP_EXTENSIONS=""
